
.jumbotron {
    background-image: url("./../../components/Img/download1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0rem 0rem;
  }